@font-face {
  font-family: GraphikSemibold;
  src: url("./assets/Graphik-Semibold.otf") format("opentype");
}

@font-face {
  font-family: GraphikRegular;
  src: url("./assets/Graphik-Regular.otf") format("opentype");
}

@font-face {
  font-family: RobotoMonoBold;
  src: url("./assets/RobotoMono-Bold.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "GraphikSemibold", sans-serif;
  font-color: "#1E1E1E";
  font-size: 40px;
}

.monogram {
  width: 75px;
  height: 75px;
  margin-top: 20px;
  background-image: url("./assets/logo-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 25px;
}

h3 {
  font-family: "GraphikRegular", sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 5px;
  white-space: pre-line;
}

h4 {
  font-family: "RobotoMonoBold", sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 0px;
}

.main-area {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.content-area {
  width: 50%;
  text-align: center;
}

.pledge-area {
  width: 50%;
  text-align: center;
}

.single-pledge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pledge-title {
  font-size: 25px;
  color: #edff00;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.pledge-body {
  text-align: center;
  width: 70%;
}

.the-bar {
  width: 60%;
}

.bar-tics {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tic-highlight {
  font-family: GraphikSemibold, sans-serif;
  color: #edff00;
}

.lower-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
