@font-face {
  font-family: GraphikSemibold;
  src: url("./assets/Graphik-Semibold.otf") format("opentype");
}

@font-face {
  font-family: GraphikRegular;
  src: url("./assets/Graphik-Regular.otf") format("opentype");
}

.App {
  background-color: #4242ea;
}

h1 {
  font-family: "GraphikSemibold", sans-serif;
  font-color: "#1E1E1E";
  font-size: 40px;
}

.header-area {
  display: flex;
  flex-direction: row;
  padding-left: 6%;
  padding-top: 25px;
}

h3 {
  font-family: "GraphikRegular", sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 5px;
}

.main-area {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 100px;
}

.the-bar {
  width: 60%;
}

.bar-tics {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tic {
  color: #edff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lower-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
